html {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.navbar {
    text-align: center;
    background-color: azure;
    height: 30px;
    padding: 20px;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    background-color: azure;
    padding: 20px;
    color: darkslategrey;
    
}
a:hover {
    background-color: darkslategrey;
    color: azure;
    padding: 20px;
}

.container {
    text-align: center;
    padding: 30px;
    background-image: linear-gradient(to right ,azure,rgb(188, 203, 219));
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
}

.p {
    width: 200px;
    height: 150px;
    flex-grow: 1;
    text-align: center;
    padding: 30px;
    text-align: left;
}

#p1 {
    background-color:rgb(188, 203, 219);
}

#p2 {
    background-image: linear-gradient(to left,azure,rgb(188, 203, 219));
}

#p3 {
    background-color: azure;
}

.footer {
    padding: 30px;
    background-color: azure;
    text-align: center;
    height: 150px;
}

#social {
    background-color:rgb(188, 203, 219);
    border-radius: 100px;
    margin-top: 25px;
    padding: 10px 13px;
    margin-left: 7px;
}

#social:hover {
    background-color: darkslategrey;
}
